@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Web.Common.PublishedModels.CAccordion>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels

@{
    var settings = (BlockSettings?)ViewData["settings"];
    var items = Model.Items;
}

@await Html.PartialAsync("partRenderAnchor", settings)
<section @BlockHelpers.GetBlockOuterAttributes(@Model.ContentType.Alias + " block", settings)>
    <div class="@BlockHelpers.GetContainerCssClass("block__content", settings)">
        @await Html.PartialAsync("partRenderStandardTitle", Model.Title)

        @if (items != null && items.Any())
        {
            foreach (var item in items)
            {
                var accordionItem = (ContentModels.UniTitleAndText)item.Content;
                <div class="accordion">
                    <div class="accordion__header">
                        <div class="accordion__title">@accordionItem.Title</div>
                        <div class="accordion__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z" /></svg>
                        </div>
                    </div>
                    <div class="accordion__body text">
                        @accordionItem.Contents
                    </div>
                </div>
            }
        }
    </div>
</section>

