@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Web.Common.PublishedModels.CIconTitleTextList>
@{
    var settings = (BlockSettings?)ViewData["settings"];
    var textList = Model.ElemList;
}

@await Html.PartialAsync("partRenderAnchor", settings)
<section @BlockHelpers.GetBlockOuterAttributes(@Model.ContentType.Alias + " block", settings)>
    <div class="@BlockHelpers.GetContainerCssClass("block__content", settings)">
        @if (Model.HasValue("title"))
        {
            <h2 class="block__title styleTitle">@Model.Title</h2>
        }
        @if (Model.HasValue("description"))
        {
            <div class="block__description">@Model.Description</div>
        }
        @if (textList != null && textList.Any())
        {
            <div class="content__wrap">
                @foreach (var item in textList)
                {
                    var elem = (ElemIconHeadText)item.Content;
                    <div class="wrapper__nomination">
                        <div class="wrapper__nomination--elem">
                            @if (elem.HasValue("icon"))
                            {
                                <img class="nomination__icon" src="@elem.Icon.Url()" width="32">
                            }
                            <h5 class="nomination__title">@elem.Title</h5>
                        </div>
                        <div class="wrapper__nomination--elem">
                            <p class="nomination__text">@elem.TextField</p>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</section>

