@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Web.Common.PublishedModels.CParticipantList>
@{
    var settings = (BlockSettings?)ViewData["settings"];
    var elementList = Model.ElemList;
}
@await Html.PartialAsync("partRenderAnchor", settings)
<section @BlockHelpers.GetBlockOuterAttributes(@Model.ContentType.Alias + " block", settings)>
    <div class="@BlockHelpers.GetContainerCssClass("block__content", settings)">
        @if (Model.HasValue("title"))
        {
            <h2 class="proviso__title">@Model.Title</h2>
        }
        @if (Model.HasValue("description"))
        {
            <div class="block__description">@Model.Description</div>
        }
        @if (elementList != null && elementList.Any())
        {
            @foreach (var item in elementList)
            {
                var elem = (ElemBlockProviso)item.Content;
                <div class="wrapper__proviso">
                    <div class="wrapper__proviso--text">
                        <h5 class="proviso__head">@elem.HeadBlock</h5>
                        <p class="proviso__text">@elem.TextBlock</p>
                    </div>
                    <div class="wrapper__proviso--text colorful">
                        <p class="proviso__secondText">@elem.SecondTextBlock</p>
                        <p class="proviso__sum">@elem.SumOfText</p>

                    </div>



                </div>



            }
        }
    </div>
</section>